$primary: #ffd000;
$secondary: #888e94;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    #app {
        height: 100%;
    }
}

#nav {
    text-align: center;



    a {
        font-weight: bold;
    }

    a.router-link-exact-active {
        border-radius: .5rem;
    }


}

#navbarSupportedContent > div {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-responsive table {
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        margin-left: 2rem;

    }
}

.bg-dark {
    background-color: #212529;
}

.text-primary {
    color: #f2f1ef;

}

.content {
    background-color: lightgrey;
    height: 100%;
    padding: 2rem;

    .page-header {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0.5rem;

        h2 {
            font-weight: 600;
        }

        button {
            display: flex;
            align-items: center;
        }

    }

    .container {
        height: 100%;
        overflow: hidden;
    }
}

.calendar {
    height: 60vh;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.card {
    box-shadow: 2px 2px 1px $secondary;
    color: black;
}

.bg-card,
.list-group-item {
    background-color: #f0f3f6;
}

.align-center {
    align-items: center;
}

$list-group-bg: #f0f3f6;
$list-group-item-bg-scale: 0%;